<%= form_with(model: resource, class: "row g-3", data: {"turbo-action": (resource.persisted? ? "replace" : "advance")}) do |form| %>
  <% if resource.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p class="alert-heading fw-semibold mb-1"><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</p>
      <ul class="mb-0">
        <% resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-7">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="col-md-7">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="col-12">
    <%= form.submit (resource.persisted? ? "Update resource" : "Create resource"), class: "btn btn-primary" %>
  </div>
<% end %>

