<%= render "header", title: @resource.title %>

<p class="small text-muted mb-0">Created <%= time_ago_in_words @resource.created_at %> ago</p>
<p class="mt-2 mb-0"><%= @resource.description %></p>

<div class="btn-group d-flex d-sm-inline-flex mt-4" role="group">
  <%= link_to "Edit resource", edit_resource_path(@resource), class: "btn btn-outline-secondary" %>
  <%= link_to "Delete resource", resource_path(@resource), data: {turbo_method: :delete}, class: "btn btn-outline-danger" %>
</div>
